

.static-page > .static-top .top-grid {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	align-items: start;
	padding-top: 200px;
}

.static-page > .static-top .top-grid > .top-grid-block {
	position: relative;
}

.static-page > .static-top .top-grid > .top-grid-block > .block-icon {
	position: absolute;
	top: -23px;
	right: -10px;
	color: #e476fb;
	font-size: 160px;
	opacity: 0.03;
	z-index: 0;
}

.static-page > .static-top .top-grid > .top-grid-block > .block-name {
	font-size: 24px;
	font-weight: bold;
	color: #f6f7f8;
	position: relative;
	z-index: 2;
}

.static-page > .static-top .top-grid > .top-grid-block > .block-text {
	margin-top: 20px;
	min-height: 75px;
	line-height: 25px;
	color: #7b7d95;
	position: relative;
	z-index: 2;
}

.static-page > .static-top .top-grid > .top-grid-block > .block-button {
	padding-top: 20px;
	position: relative;
	z-index: 2;
}

.static-page > .static-top .top-grid > .top-grid-block > .block-button > a {
	display: inline-block;
	vertical-align: top;
	background: linear-gradient(90deg, #e476fb21 0%, #7343df24 100%);
	color: #e476fb;
	font-weight: 500;
	font-size: 16px;
	padding: 15px 25px;
	text-decoration: none;
	border-radius: 7px;
	text-align: center;
}

.static-page > .static-top .top-grid > .top-grid-block > .block-button > a .bx {
	position: relative;
	top: -1px;
	margin-right: 11px;
}




.static-page > .static-body {
	padding: 50px 0;
}

.static-page > .static-body .static-page-name {
	font-size: 24px;
	font-weight: bold;
	color: #f6f7f8;
	margin-bottom: 50px;
	display: block;
	line-height: normal;
}

.static-page > .static-body .form-wrapper {
	background-color: #272838;
	border-radius: 7px;
	color: #c7c8dd;
	line-height: 25px;
}




.static-page .spoiler {
	border-radius: 7px;
	background-color: rgba(0,0,0,0.2);
	padding: 20px;
	margin-bottom: 20px;
}

.static-page .spoiler .spoiler-trigger {
	line-height: 25px;
	height: 25px;
	border-radius: 2px;
	font-weight: normal;
	padding: 0 15px;
}

.static-page .spoiler > .spoiler-body {
	display: none;
	padding-top: 25px;
	color: #c7c8dd;
}

.static-page .spoiler.toggle > .spoiler-body {
	display: block;
}

.logo__item {
	width: 88px;
	height: 65px;
}